* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.dog__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
